<h1>Pages Administration</h1>

This Pages allows to:
<ul>
  <li>
    drag the boxes to reorder them;
  </li>
  <li>
    create new pages;
  </li>
  <li>
    remove existing pages.
  </li>
</ul>

Use this boxes to reorder the pages:
<ul id="pages_list">
  <% @pages.each do |page| -%>
    <li id="item_<%= page.id %>">
      <span class="floatRight">
      <%= link_to "Show", page_path(page) %>
      </span>
      <%= h(page.title) %>
    </li>
  <% end %>
</ul>

<%= sortable_element "pages_list",
  :url => {:action => "sort", :id => @pages},
  :complete => visual_effect(:highlight, "pages_list")
%>
