<h1>Listing pages</h1>

<ul id="pages_list" style="cursor: move">
  <% @pages.each do |page| -%>
    <li id="item_<%= page.id %>">
      <%=h page.title %>
    </li>
  <% end %>
</ul>

<%= sortable_element "pages_list",
  :url => {:action => "sort", :id => @pages},
  :complete => visual_effect(:highlight, "pages_list")
%>
