<h1>Sort pages</h1>

<ul id="pages_list" class="drag">
  <% @pages.each do |page| -%>
    <li id="item_<%= page.id %>">
      <span class="floatRight">
      <%= link_to "Show", page_path(page) %>
      </span>
      <%= h(page.title) %>
    </li>
  <% end %>
</ul>

<%= sortable_element "pages_list",
  :url => {:action => "sort", :id => @pages},
  :complete => visual_effect(:highlight, "pages_list")
%>
