<div class="gradient">
  <h1>
    <%= link_to h(@page.title), page_path(@page) %>
  </h1>
  <p>
    <b>Created at <%=h @page.created_at %> by user</b>
  </p>

  <%= @page.content %>

  <p>
    <b>Last update on:</b>
    <%=h @page.updated_at %>
  </p>
</div>
