

  <ul class="floatLeft">
    <% Navigations::Repository.get(:main).pages.each do |page| -%>
      <% if page.visible? controller -%>
        <%
        options = page.link_options
        options = options.merge(:class => "here") if page.current? controller
        -%>
        <li><%= link_to page.name, page.link(controller), options %></li>
      <% end -%>
    <% end -%>
  </ul>
